.card-body{
    margin: 20px;
}

hr{
    width: 100%;
}

.card{
    margin: 50px;
}

.footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00185a;
    color: #0D6EFD;
}

.navbar-light{
    background-color: #00185a;
    color: white;
}

.bg-image{
    width: 100%;
    height: auto;
}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

body, html {
    height: 100%;
}